[core]
	autocrlf = false
[user]
	email = bernborgess@outlook.com
	name = bernborgess
[safe]
	directory = D:/CC
	directory = D:/dev/hs/haskellLearning
	directory = D:/dev/cpp/codeforces
	directory = D:/dev/hs/loja
